<div>
    <h3>Ten: <%= person.name %></h3>
    <p>Tuoi: <%= person.age %></p>
</div>

<!--bên learn.ejs ta truyền biến person thì thì bên personRow sẽ thành các thuộc tính  person sẽ trở thành tên biến-->
<!--
<div>
    <h3>Ten: <%= name %></h3>
    <p>Tuoi: <%= age %></p>
</div>
-->