<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>
    <!--
    <form action="/signup" method="POST" enctype="multipart/form-data">  //1 file rất nặng, không thể gửi 1 phát lên được, mà phải chia nhiều phần, gửi nhiều lần nên ta phải có thuộc tính multipart/form-data   
        <input type="text" placeholder="Enter your email" name="email">
        <br><br>
        <input type="text" placeholder="Enter your password" name="password">
        <br><br>
        <input type="file" name="profileSingle">    // cách gửi đơn giản nhất
        <br><br>
        <button>Sign Up</button>    
    </form>
    -->
    <!--
    <form action="/signup" method="POST" enctype="multipart/form-data"> 
        <input type="text" placeholder="Enter your email" name="email">
        <br><br>
        <input type="text" placeholder="Enter your password" name="password">
        <br><br>
        <input type="file" name="profileSingle">
        <br><br>
        <input type="file" name="profileSingle">
        <br><br>
        <button>Sign Up2</button>    
    </form>
-->
    <form action="/signup" method="POST" enctype="multipart/form-data"> 
        <input type="text" placeholder="Enter your email" name="email">
        <br><br>
        <input type="text" placeholder="Enter your password" name="password">
        <br><br>
        <input type="file" name="chinh">
        <br><br>
        <input type="file" name="phu">
        <br><br>
        <input type="file" name="phu">
        <br><br>
        <button>Sign Up3</button>    
    </form>
    <script src="reload/reload.js"></script>
</body>
</html>